@media screen and (max-width: 768px){
    .img-topo{
        display: none;
    }

    .metodologia {
        display: none;
    }

    .logo-footer{
        position: relative;
        left: 25%;
        margin: 20px;
    }

    .endereco {
        text-align: center;
    }
}