:root{
    --azul: #2a4e6e;
    --black: #000;
    --icons: #0188cc;
    --footer: #10445E;
    --realidade: #53A5D6;
}

body{
    color: var(--black);
}

/* .navbar-nav {
    position: absolute;
    right: 15px;
} */

.navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.logo img{
    max-width: 130px;
}

.topo {
    padding-top: 100px;
    height: 100vh;
}

.img-topo{
    max-width: 500px;
}

.services{
    padding: 50px 0;
    background-color: #f4f4f4;
}

.services i{
    font-size: 24px;
    color: var(--icons);
    padding: 2px;
}

.services h4{
    display: inline;
    padding: 10px;
}

.services p {
    padding-top: 10px;
    padding-left: 33px;
    text-align: justify;
}

.technologies {
    padding: 40px 0;
    /* line-height: 20px; */
}

.technologies i{
    font-size: 20px;
    margin-right: 20px;
    color: var(--icons);
}

.technologies p {
    padding-left: 35px;
}

.technologies h5{
    display: inline;
}

.about-us{
    padding: 40px 0;
    background-color: #f8f8f8;
}

.metodologia{
    margin-right: 30px;
    max-width: 300px;
    position: relative;
    float: right;
}

.realidade {
    color: var(--realidade);
}

.footer-claro{
    padding: 40px 0;
    background-color: #192a56;
    /* background-color: #236096; */
    color: white;
}

.endereco{
    padding: 0 20px;
}
.logo-footer{
    max-width: 100px;
}

.socials {
    display: none;
}

.social-item {
    display: inline-block;
}

/*Contato*/

.contact-us h2 {
    padding: 20px;
}

.mapa {
    padding: 15px;
}

.form-row{
    padding: 5px;
}

.form-contato{
    padding: 15px;
}